header {
    background-color: #f4f7f6;
    max-width: 100%;
	margin: 0;
    display: flex;
	align-items: center;
    justify-content: space-between;
}


header ul {
    align-self: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
}

header li a {
    display: inline-block;
    color: #343434;
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    font-weight: semi-bold;
    padding: 20px;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid #3ea094;
}

 header img {
     display: flex;
    align-self: flex-start;
      margin-top: 5px;
    margin-left: 10px;
    margin-right: 6vw;
     height: 10vh;
     width: auto;
    padding: 10px;
    }

/**PAGES**/




body.home {
    background-image: url(images/bailey-zindel-NRQV-hBF10M-unsplash.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;

}


.home-pg-title {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 10vh;
    align-content: center;
    margin-top: 25vh;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    margin-bottom: 40px;
}

.column {
  flex: 50%;
  padding: 5px;
}

.row {
  display: flex;
    width: 60%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 3em;

}

.main-img {
    border-radius: 6px;
    margin: 1em;
    box-shadow: 0 2px 7px rgba(0,0,9,1);
}





body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    align-content: center;
}


/**HOME PAGE EFFECT**/


.home-svg {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;


}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 101;
    stroke-dashoffset: 101;
    transition: 1s linear;
}

.draw {
    stroke-dashoffset: 0;
}



