/**NAVIGATION**/

header {
    background-color: #f4f7f6;
    max-width: 100%;
	margin: 0;
    display: flex;
	align-items: center;
    justify-content: space-between;
}


header ul {
    align-self: flex-end;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header li {
    display: inline;
}

header li a {
    display: inline-block;
    color: #343434;
    text-align: center;
    font-family: 'Monserrat', sans-serif;
    font-weight: semi-bold;
    padding: 20px;
    text-decoration: none;
}

.active {
    border-bottom: 3px solid #3ea094;
}

 header img {
     display: flex;
    align-self: flex-start;
      margin-top: 5px;
    margin-left: 10px;
    margin-right: 6vw;
     height: 10vh;
     width: auto;
    padding: 10px;
    }



/**HOME PAGE BACKGROUND**/


body.home {
    background-image: url(images/image-001.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;

}


.home-pg-title {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 10vh;
    align-content: center;
    margin-top: 25vh;
}


/**HOME PAGE EFFECT**/


.home-svg {
    width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
    margin-bottom: 20vh;


}

.line {
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 101;
    stroke-dashoffset: 101;
    transition: 1s linear;
}

.draw {
    stroke-dashoffset: 0;
}


/**PORTFOLIO IMAGES**/

.column {
  flex: 50%;
  padding: 1em;

}

.row {
  display: flex;
    width: 80%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;

}

.main-img {
    width: 80%;
    border-radius: 6px;
    margin: 3em;
    box-shadow: 0 2px 7px rgba(0,0,9,1);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/**PAGES**/

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 70px;
    margin-bottom: 40px;
    color: #3ea094;
}

h2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #3ea094;
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 18px;
        font-family: 'Libre Baskerville', serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3ea094;
    max-width: 700px;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    align-content: center;
}



    p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: left;
    font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        color: #343434;

    }

ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: left;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    color: #3ea094;
    text-decoration: none;
    padding: 0;
    font-weight: bold;
}

li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    text-align: left;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #343434;
    font-weight: semi-bold;
}

.doc-links {
    color: #343434;


}


    img.portfolio-images {
        width: 50%;
        align-content: center;
        display: block;
        margin-left: auto;
    margin-right: auto;
        border-radius: 6px;
    }


.back-arrow {
    width: 50px;
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.title {
    font-size: 17px;
    font-family: 'Libre Baskerville', serif;
    color: #3ea094;
}



 img.about-image {
        width: 20vw;
        align-content: center;
        display: block;
        margin-left: auto;
    margin-right: auto;
        border-radius: 6px;
    }

